.button {
    width: 293px;
    height: 70px;
    margin-top: 54px;
    border: none;
    border-radius: 4px;
    background-color: #eb7d4b;
    font-family: TitilliumWeb-SemiBold;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.35px;
    color: #ffffff;
    &:focus {
        outline: none;
    }
    &_portfolio {
        margin: 19px auto 0 auto;
        font-family: TitilliumWeb-SemiBold;
        font-size: 17.5px;
        line-height: 27px;
        letter-spacing: 0.35px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #17c2a4;
    }
    &_touch {
        background: #30bae7;
    }
}