.footer {
    min-height: 112px;
    background: #344b8e;
    padding: 48px 0 41px 0;
    display: flex;
    align-items: center;
    &__wrapper {
        display: flex;
        flex-direction: row;
    }
    &__social {
        margin-right: 53px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: block;
        font-family: TitilliumWeb-Regular;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        &:hover {
            text-decoration: none;
        }
    }
}
  