.navbar {
    min-height: 94px;
    padding: 57px 0 0 0;
    background: #87509c;
    margin: 0 auto;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__logo {
        margin-right: 483px;
    }
    &__items {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin: 0;
        li {
            display: block;
        }
    }
    &__item {
        margin: auto 5px;
        padding: 10px 17px;
        list-style-type: none;
        border-radius: 5px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: #643a79;
        }
    }
    &__link {
        display: block;
        font-family: TitilliumWeb-Regular;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: normal;
        text-transform: uppercase;
        color: #ffffff;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }

    @media (max-width: $screen-lg-max) {
        &__wrapper {
            justify-content: space-between;
        }
        &__logo {
            margin-right: 0;
        }
    }
}