// Подключаем bootstrap. Сброс css стилей браузера //

@import "bootstrap-reboot.min.scss";

// Подключаем шрифты //

@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }

}

@import "fonts.scss";

// Устанавливаем ширину контейнера //

.container {
    max-width: 1102px;
    margin: 0 auto;
}

// Подключаем блоки с css стилями //

@import "navbar.scss";
@import "header.scss";
@import "title.scss";
@import "button.scss";
@import "services.scss";
@import "beautiful-team.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "reviews.scss";