// Подключаем bootstrap. Сброс css стилей браузера //

@import "bootstrap-reboot.min.scss";

// Устанавливаем ширину контейнера //

.container {
    max-width: 1104px;
    margin: 0 auto;
}

// Подключаем шрифты //

@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }

}

@import "fonts.scss";

// Переменные // 

$screen-sm: 576px;
$screen-md: 767px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// Подключаем блоки с css стилями //

@import "navbar.scss";
@import "header.scss";
@import "title.scss";
@import "button.scss";
@import "services.scss";
@import "beautiful-team.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "reviews.scss";
@import "touch.scss";
@import "footer.scss";

// Отступы по краям в секциях //

.sections-outer {
    padding-right: 20px;
    padding-left: 20px;
}