body {
    font-size: 15px;
    display: flex;
}

span {
    font-style: 20px;
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

div {
    font-size: 30px;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}