.title {
    font-family: TitilliumWeb-Bold;
    font-size: 42.5px;
    color: #f7f3ea;
    margin-bottom: 0;
    line-height: 49px;
    letter-spacing: normal;
    text-align: center;
    &_services {
        font-family: TitilliumWeb-Bold;
        font-size: 40px;
        letter-spacing: 4px;
        text-align: center;
        color: #ffffff;
    }
    &_line-services::after {
        content: '';
        display: block;
        width: 87px;
        height: 4px;
        opacity: 0.15;
        background-color: #000000;
        margin: 21px auto 0 auto;
    }
    &_team {
        font-family: TitilliumWeb-Bold;
        font-size: 41px;
        line-height: 31px;
        letter-spacing: 4.15px;
        text-align: center;
        color: #3c4761;
    }
    &_line-team::after {
        content: '';
        display: block;
        width: 87px;
        height: 6px;
        opacity: 0.75;
        background-color: #bdd1df;
        margin: 21px auto 0 auto;
    }
    &_skills {
        font-family: TitilliumWeb-Bold;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 4px;
        text-align: center;
        color: #3c4761;
    }
    &_line-skills::after {
        content: '';
        display: block;
        width: 87px;
        height: 4px;
        background-color: #dfe8ed;
        margin: 21px auto 0 auto;
    }
    &_portfolio {
        font-family: TitilliumWeb-Bold;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 4px;
        text-align: center;
        color: #393939;
    }
    &_line-portfolio::after {
        content: '';
        display: block;
        width: 87px;
        height: 4px;
        background-color: #e5c37f;
        margin: 21px auto 0 auto;
    }
    &_reviews {
        font-family: TitilliumWeb-Bold;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 4px;
        text-align: center;
        color: #ffffff;
    }
    &_line-reviews::after {
        content: '';
        display: block;
        width: 87px;
        height: 4px;
        opacity: 0.15;
        background-color: #000000;
        margin: 21px auto 0 auto;
    }
    &_touch {
        font-family: TitilliumWeb-Bold;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 4px;
        text-align: center;
        color: #ffffff;
    }
    &_line-touch::after {
        content: '';
        display: block;
        width: 87px;
        height: 4px;
        opacity: 0.15;
        background-color: #273a71;
        margin: 21px auto 0 auto;
    }
}



.subtitle {
    margin: 23px auto 0 auto;
    text-align: center;
    &_services {
        font-family: TitilliumWeb-Regular;
        font-size: 18px;
        letter-spacing: 0.36px;
        line-height: 26px;
        color: #ffffff;
    }
    &_tools {
        margin-top: 60px;
        font-family: TitilliumWeb-Bold;
        font-size: 24px;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &_team {
        font-family: TitilliumWeb-Regular;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.37px;
        color: #3c4761;
    }
    &_skills {
        font-family: TitilliumWeb-Regular;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.36px;
        color: #3c4761;
    }
    &_portfolio {
        font-family: TitilliumWeb-Regular;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.36px;
        color: #393939;
    }
    &_reviews {
        font-family: TitilliumWeb-Regular;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.36px;
        color: #ffffff;
    }
    &_touch {
        font-family: TitilliumWeb-Bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.36px;
        text-align: center;
        color: #ffffff;
    }
}