.touch {
    min-height: 819px;
    padding: 120px 0 115px 0;
    background: #3c5499;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__wrapper-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 78.04%;
        margin-top: 76px;
    }
    &__wrapper-form-input {
        display: flex;
        flex: 0 0 48.14%;
        margin-right: 32px;
        min-height: 56px;
        &:nth-child(2) {
            margin-right: 0;
        }
        &:last-child {
            flex: 0 0 100%;
            margin: 27px 0 auto 0;
            min-height: 200px;
        }
        input {
            width: 100%;
            padding-left: 25px;
            border-radius: 4px;
            border-style: none;
            background: #273a71;
            color: #ffffff;
            &::placeholder {
                color: #ffffff;
            }
            &:focus {
                outline: none;
            }
        }

        @media (max-width:$screen-lg-max) {
            margin-right: 27px;
        }
    }
}
  